@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --roxo-principal: #5d22b3;
    --roxo-claro: #f0e4fc;
    --roxo-texto-escuro: #401c74;
    --branco: #ffffff;
    --cinza-texto: #6c757d;
    --roxo-botão: #a864fc;
    --roxo-finaldegrade:#340c74;
}
body {
    font-family: 'Poppins', sans-serif; 
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

#inicio .container {
    margin-left: 80px;
    margin-right: 0px;
}
.hero-content {
    justify-content: flex-start;
}

header {
    background-color: transparent; 
    padding: 1px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 28px;
    font-weight: 700;
    color: var(--roxo-texto-escuro);
}
.logo img {
    height: 80px;
}

.ul {
    display: flex;
    gap: 35px;
}

.ul li a {
    color: var(--branco);
    font-weight: 500;
    font-size: 14px;
    transition: color 0.3s;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.ul li a:hover {
    color: var(--roxo-claro);
    border-bottom: 2px solid var(--roxo-claro);
}

#inicio {
    background:
        linear-gradient(-106deg, transparent 49.9%, var(--roxo-claro) 50%),
        url(img/Padrão-Linhas.png) right / 1000px 1000px no-repeat,
        linear-gradient(to bottom, var(--roxo-principal), var(--roxo-finaldegrade));
    background-attachment: fixed;
    color: var(--roxo-texto-escuro);

    padding-top: 100px;
    padding-bottom: 50px;
    min-height: 100vh; 
    display: flex; 
    align-items: center;
}


main {
  width: 100%;
} 
.hero-content {

display: flex;
align-items: center;
justify-content: flex-start;
gap: 40px;
min-height: calc(100vh - 85px);
padding-bottom: 50px;
}
.hero-left {
flex-basis: 50%;
}
.hero-left h1 {

font-size: 46px;
line-height: 1.2;
margin-bottom: 15px;
}
.hero-left p {
font-size: 20px;
color: #5b3a7a;
margin-bottom: 30px;
max-width: 750px;
}
.botao-roxo {
    display: inline-block;
    padding: 8px 40px;
    background-color: var(--roxo-botão);
    color: white;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.botao-roxo:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.disponivel-em {
    margin-top: 40px;
}
.disponivel-texto {
    font-size: 14px;
    font-weight: 500;
    color: var(--cinza-texto);
    margin-bottom: 0px;
}
.botoes-container {
    display: flex;
    align-items: center; 
    gap: 15px;          
}
.botoes-loja1, .botoes-loja2 {
    display: flex;
    align-items: center;
    gap: 15px;
}
.botoes-loja1 img, .botoes-loja2 img { 
    height: 60px; 
    transition: transform 0.3s; 
}
.botoes-loja1 img:hover, .botoes-loja2 img:hover {
    transform: scale(1.05);
}

/* segunda pagina css  */

#sobre {
  background-color: var(--roxo-claro);
  padding: 100px 2rem 50px;
  min-height: 100vh;
}

.sobre-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.sobre-texto {
  flex: 1;
  min-width: 300px;
}

.sobre-imagem {
  position: relative;
  flex: 1;
  min-width: 300px;
  height: 500px;
}
.sobre-imagem .celular {
  margin-top: 60px;
  position: absolute;
  height: 100%;
  max-height: 100%;
}
.sobre-imagem .fundo {
  margin-top: 60px;
  left: 170px;
  top: 0;
  z-index: 1;
}
.sobre-imagem .frente {
  left: 0;
  top: 0;
  z-index: 2;
  transform: rotate(-12deg) scale(0.95);
}
.sobre-texto h2 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--roxo-texto-escuro);
  margin-bottom: 1.5rem;
}
.sobre-texto p {
  font-size: 1.125rem;
  line-height: 1.75;
  color: var(--roxo-texto-escuro);
}
.sobre-texto p:not(:last-child) {
  margin-bottom: 1rem;
}
.sobre-banner {
  position: relative;
  z-index: 3;
  margin-top: -50px;
  background-color: var(--roxo-principal);
  border-radius: 12px;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  margin: -50px auto 0;

}

.banner-item h3 {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
}

.banner-item p {
  font-size: 1.125rem;
  color: #ffffff;
  margin-top: 0.5rem;
}
